
.card_cont {
    display: flex;
    height: 43px;

    align-items: center;

    margin: 2px;
    user-select: none;
    cursor: pointer;
}

.movie_img {
    height: 43px;
    width: 32px;
}

.movie_title {
    font-size: .9rem;
    width: 340px;
}

@media (min-width: 650px) {
    .movie_title {
        width: 400px;
    }
}

.checkbox_cont {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    user-select: none;
    cursor: pointer;

    height: 100%;

}

.nomText {
    position: relative;
    margin: 5px;
    height: 65%;
    font-size: .5rem;
}

.nomText:hover {
    color: rgba(0, 0, 0, 0.5);
}

.nomText:active {
    top: 3px;
    color: black;
}