
.input {
    margin: 0px 10px;
    height: 25px;
}

.sendBtn {
    position: relative;
    height: 30px;
    padding: 0px 5px;

    cursor: pointer;
    user-select: none;

    font-size: .75rem;

}

.sendBtn:hover {
    color: rgba(0, 0, 0, 0.5);
}

.sendBtn:active {
    color: black;

    top: 3px;
}

@media(max-width: 600px) {
    .input {
        width: 350px;
    }
}

@media(min-width: 600px) {
    .input {
        width: 60%;
    }
}