.App {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 690px) {
  .body {
      width: 420px;
  }
}

@media(min-width: 690px) {
  .body {
      width: 60%;
  }
}